include README.md
include LICENSE
include CHANGELOG.md
include USER_GUIDE.md
include requirements.txt
include MANIFEST.in

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.egg-info
